{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block head %}
   <link rel="stylesheet" href="{% static 'encyclopedia/css/styles.css' %}">
{% endblock %}

{% block title %}
  Encyclopedia
{% endblock %}

{% block body %}
  <h1 class="page-title">All Pages</h1>

  <ul class="entry-list">
    {% for entry in entries %}
      <li>
        <a href="{% url 'entry' entry %}" class="entry-link">{{ entry }}</a>
      </li>
    {% empty %}
      <li>No entries found.</li>
    {% endfor %}
  </ul>
{% endblock %}
